//home page
.kss-section--depth-0 {
  overflow-x: auto;
  color: $black;
  background: $white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;

  ul,
  ol,
  dl,
  dd,
  blockquote,
  hr,
  table,
  form,
  fieldset,
  figure,
  pre,
  address,
  h1, h2, h3, h4, h5, h6,
  p {
    margin: 0;
  }
  
  a {
    color: $blue;
    text-decoration: none;
  }

  a:hover, 
  a:focus {
    color: lighten($blue, 10%);
    text-decoration: underline;
    outline: 0;
  }

  h1, 
  h2, 
  h3, 
  h4, 
  h5, 
  h6 {
    margin-top: 20px;
    color: $cowabunga; 
  }

  p { margin-bottom: 10px; }

  img,
  video,
  audio,
  embed,
  object {
    max-width: 100%;
    display: block;
  }

  audio,
  canvas,
  img,
  video { vertical-align: middle; }

  & hr {
    margin: 25px 0;
    opacity: 0;
  }

  pre {
    overflow: auto;
    border: 1px solid $gray;
    padding: 1em;
    background: #F5F5F5;
  }
}
