.kss-navigation {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: -10px 0 10px 10px rgba($black, 0.5);
  width: 85%;
  height: 100%;
  color: $black;
  background: $white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  
  @media (min-width: 769px) { width: 35%; }
  
  @media (min-width: 1025px) {
    width: 25%;
    transform: translateX(0);
  }

  @media (min-width: 1281px) { width: 20%; }

  @media (min-width: 1441px) { width: 15%; }
  
  &.kss-state-active { transform: none; }
}

.kss-nav {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding-top: 10px;

  @media (min-width: 1025px) { padding-top: 0; }
}

.kss-nav__ref { display: none; }

.kss-nav__menu {
  width: 100%;
  margin: 0;
  padding :0;
  list-style-type: none;

  .kss-nav__menu-item a {
    display: block;
    padding: 5px 10px;
    color: $black;
    font-size: rem(16px);
    font-weight: 500;
    text-decoration: none;
    transition: transform 0.3s ease-out;

    &:hover { transform: translateX(10px); }
  }
}

.kss-nav__menu-child {
  margin-bottom: 10px;
  padding: 0;
  list-style-type: none;

  .kss-nav__menu-item a {
    padding: 2px 10px;
    padding-left: 20px;
    font-size: rem(14px);
  }
}
