.kss-documentation {
  z-index: 100;
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  padding-top: 80px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  transition: opacity 0.3s ease-out;

  @media (min-width: 1025px) {
    padding-top: 20px;
    padding-left: calc(25% + 20px);
  }

  @media (min-width: 1281px) {
    padding-left: calc(20% + 20px);
  }

  @media (min-width: 1441px) {
    padding-left: calc(15% + 20px);
  }

  &.kss-state-active { opacity: 0.1; }
}


// section
.kss-section { margin-bottom: 30px; }


// title
.kss-title {
  margin: 0;
  margin-bottom: 5px;
  font-size: rem(36px);
  
  &--depth-2 {font-size:rem(28px);}
  
  &--depth-3 {font-size:rem(20px);}
}

.kss-title__permalink {
  color: $cowabunga;
  text-decoration: none;
  
  &:hover, 
  &:focus {
    color: $cowabunga;
    text-decoration: none;
    outline: 0;
  }
}

.kss-title__ref { display: none; }


// description
.kss-description {
  margin-bottom: 10px;
  
  p {
    margin: 0;
    margin-bottom: 5px;

    &:last-of-type { margin-bottom: 0; }
  }

  a {
    color: $blue;
    text-decoration: none;
  }

  a:hover, 
  a:focus {
    color: lighten($blue, 10%);
    text-decoration: underline;
    outline: 0;
  }
}

.kss-modifier__wrapper {
  border: 1px solid $gray;
  border-bottom: none;
  padding: 1em;
  background: #FDFDFD;
}

.kss-modifier__heading {
  margin-bottom: 10px;
  font-size: rem(18px);
  color: $cowabunga;
}

.kss-modifier__name { color: $cowabunga; }

.kss-modifier__example {
  position: relative;
  margin-bottom: 20px;
}
